* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: hemi head;
    src: url("/fonts/hemi-head.ttf");
}

/*NAV-BAR-CONTAINER*/
.nav-bar-container {
    background-color: #314455;
    position: fixed;
    width: 100%;
    /*box-shadow: 0 2px 5px #888888;*/
    z-index: 9999;
}

a, h1, h2, h3, h4, h5, h6, p, span, strong {
    font-family: "Lato", sans-serif;
}

/*NAV-BAR-LOGO*/
.nav-bar-container .nav-bar-logo {
    margin: 10px 0 0 0;

}

.nav-bar-container .nav-bar-logo a {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    font-size: 40px;
    text-align: center;
    display: block;
    vertical-align: middle;
}

.nav-bar-container .nav-bar-logo a:hover {
    text-decoration: none;
}

/*NAV-BAR-LANGUAGE-LIST*/
.nav-bar-container .nav-bar-lang {
    display: block;
    float: right !important;
    margin-bottom: 0 !important;
    margin-top: 10px;
}

.nav-bar-container .nav-bar-lang a {
    margin: 0 5px 0 5px;
    color: #ffffff;
    font-size: 18px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 3px;
}

.nav-bar-container .nav-bar-lang a {
    text-decoration: none;
}

/*NAV-BAR-MENU-LIST*/
.nav-bar-container .nav-bar-menu-list {
    display: block;
    float: right;
    margin-bottom: 0 !important;
}

.nav-bar-container .nav-bar-menu-list .nav-bar-menu-list-item {
    display: inline-block;
    list-style: none;
    margin: 20px 30px 0 30px;
}

.nav-bar-container .nav-bar-menu-list .nav-bar-menu-list-item a {
    font-size: 20px;
    font-weight: bolder;
    color: #ffffff;
    transition: all .2s;
}

.nav-bar-container .nav-bar-menu-list .nav-bar-menu-list-item a:hover {
    text-decoration: none;
}

/*TITLE SECTION*/
.title-section {

    background-color: #c96567;
    padding-top: 83px;
}

.title-section .brand-name {
    margin: 20px 0 0 30px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 20px;
}

.title-section .title-menu {
    margin: 100px 0 0 0;
    transform: perspective(200px) rotateX(3deg) rotateY(3deg);
}

.title-section .title-menu .title-menu-list {

}

.title-section .title-menu .title-menu-list .title-menu-list-item {
    list-style: none;
    text-align: center;
    margin: 0 140px 0 140px;
}

.title-section .title-menu .title-menu-list #home,
.title-section .title-menu .title-menu-list #about,
.title-section .title-menu .title-menu-list #projects,
.title-section .title-menu .title-menu-list #career,
.title-section .title-menu .title-menu-list #contact {
    padding: 20px 0 20px 0;
}

.title-section .title-menu .title-menu-list #home {
    background-color: #263441;
    transform: translateX(140px) skewY(-2deg);
    box-shadow: -3px 5px 10px #333333;
    transition: all .4s;
}

.title-section .title-menu .title-menu-list #home:hover {
    background-color: #c96567;
    border: 1px solid #ffffff;
}

.title-section .title-menu .title-menu-list #about {
    background-color: #314455;
    transform: translateX(10px) skewY(-2deg);
    box-shadow: -3px 5px 10px #333333;
    transition: all .4s;
}

.title-section .title-menu .title-menu-list #about:hover {
    background-color: #c96567;
    border: 1px solid #ffffff;
}

.title-section .title-menu .title-menu-list #projects {
    background-color: #000000;
    transform: translateX(-130px) skewY(-2deg);
    box-shadow: -3px 5px 10px #333333;
    transition: all .4s;
}

.title-section .title-menu .title-menu-list #projects:hover {
    background-color: #c96567;
    border: 1px solid #ffffff;
}

.title-section .title-menu .title-menu-list #career {
    background-color: #97aabd;
    transform: translate(100px, -10px) skewY(-2deg);
    box-shadow: -3px 5px 10px #333333;
    transition: all .4s;
}

.title-section .title-menu .title-menu-list #career:hover {
    background-color: #c96567;
    border: 1px solid #ffffff;
}

.title-section .title-menu .title-menu-list #contact {
    background-color: #314455;
    transform: translate(145px, -20px) skewY(-2deg);
    box-shadow: -3px 5px 10px #333333;
    transition: all .4s;
}

.title-section .title-menu .title-menu-list #contact:hover {
    background-color: #c96567;
    border: 1px solid #ffffff;
}

.title-section .title-menu .title-menu-list .title-menu-list-item a {
    color: #ffffff;
    font-size: 21px;
    font-weight: bolder;
}

.title-section .title-menu .title-menu-list .title-menu-list-item a:hover {
    text-decoration: none;
}

.title-section .title-paragraph-container {
    margin: 40px 0 0 0;
}

.title-section .title-paragraph-container .title-paragraph {
    padding: 0 0 0 50px;
    font-size: 34px;
    line-height: 33px;
    display: block;
    position: relative;
    top: 350px;
    width: 870px !important;
    color: #ffffff;
    font-weight: bolder;
    z-index: 999;
}

.title-section .scroll-down-arrow a {
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    display: block;
    margin: 0 542px 0 542px;
}

.title-section .scroll-down-arrow a i {
    transition: all .2s ease-in-out;
}

.title-section .scroll-down-arrow a i:hover {
    transform: translateY(10px);
}

/*FOOTER*/
.footer-container {
    padding: 20px 0 0 0;
    background-color: #263441;
}

.footer-container .footer-navigation-header {
    color: #ffffff;
}

.footer-container .footer-menu-list {
    display: block;
    padding: 0 50px 0 0;
}

.footer-container .footer-menu-list .footer-menu-list-item {
    list-style: none;
}

.footer-container .footer-menu-list .footer-menu-list-item a {
    color: #ffffff;
    font-size: 16px;
}

.footer-container .footer-menu-list .footer-menu-list-item a:hover {
    text-decoration: none;
}

.footer-container .footer-address-list {
    display: block;
}

.footer-container .footer-address-list strong {
    color: #ffffff;
}

.footer-container .footer-address-list p {
    list-style: none;
    color: #ffffff;
    margin-bottom: 0 !important;
}

.footer-container .designed-by p {
    text-align: center;
    color: #ffffff;
    line-height: 0;
}

.footer-container .designed-by p a {
    color: #ffffff;
    transition: all .4s ease-in-out;
}

.footer-container .designed-by p a:hover {
    text-decoration: none;
    color: #c96567;
}

.footer-container #map {
    height: 200px;
    width: 350px;
    border: 1px solid #ffffff;

}